    <div class="nav">
        <a href="/" class="navLink">
        <div class="navItem">Home</div>
        </a>
        <a href="/about" class="navLink">
        <div class="navItem2">About</div>
        </a>
    </div>