<section class="container">
  <div class="left-half">
    <article>
    <div class="header">
      <h1 class="logo" id="logo">Glas</h1>
      <label class="label" for="article_name">Search an article</label>
      <input type="text" name="article_name" id="search" placeholder="cuardaigh..."/> 
      <p id="alert"></p>
      <p ></p>
      <a href="https://glas.low-fat-lard.repl.co/search/verb">Verbs</a>
      <a href="https://glas.low-fat-lard.repl.co/search/noun">Nouns</a>
    </div>
    </article>
  </div>
  <div class="right-half">