<section class="container">
  <div class="bar">
      <div class="achievement"></div>
      <div class="description"></div>
  </div>
  <div class="left-half">
    <article>
    <div class="header">
      <h1 class="logo" id="logo">Glas</h1>
      <label class="label" for="article_name">Search an article</label>
      <input type="text" name="article_name" id="search" placeholder="cuardaigh..."/> 
      <p id="alert"></p>
      <a class="link" href="https://glas.low-fat-lard.repl.co/">Home</a><br>
      <a class="link" href="https://glas.low-fat-lard.repl.co/about">About</a><br>
      <a class="link" href="https://glas.low-fat-lard.repl.co/achievements">Achievements</a>
      <p>Key Words</p>
      <div class="keyword">
        <a href="https://glas.low-fat-lard.repl.co/search/verb">Verbs</a><br>
        <a href="https://glas.low-fat-lard.repl.co/search/noun">Nouns</a><br>
        <a href="https://glas.low-fat-lard.repl.co/search/noun">Grammar</a>
      </div>
      <p>Next Achievement</p>
      <div class="achieve">
        <label><strong id="label">In the Aeroplane over the sea</strong></label>
        <div id="achieve"> 32% </div>
        <p id="percent">32% complete (5 more to go)</p>
      </div>
    </div>
    </article>
  </div>
  <div class="right-half">