.quiz {
    border-radius: 1rem;
    margin: auto;
    width: 60%;
    padding-left: 5rem;
    padding-right: 5rem; 
    padding-top: 2rem;
    padding-bottom: 5rem; 
    background-color: #ffffff; 
    border: 5px solid #ffffff;
    transition: 0.3s;
}
.result {
    border-radius: 1rem;
    margin: auto;
    width: 60%;
    padding-left: 5rem;
    padding-right: 5rem; 
    padding-top: 2rem;
    padding-bottom: 5rem; 
    background-color: #ffffff; 
}
.question {
  margin-bottom: 0.5rem; 
  margin-top: 0.5rem;
  color: #000000; 
  font-size: 1.3rem;
  line-height: 1.75rem; 
  font-weight: 500; 
}
.colour {
    float: right;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    height: 2rem;
    width: 6rem;
    margin: 0.3rem;
    opacity: 0.7;
}
button {
    float: right;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    height: 2rem;
    width: 6rem;
    margin: 0.5rem;
}
input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  background-color: #E5E7EB; 
  width: 100%; 
  border-radius: 1rem; 
  outline: none; 
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}