@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto&display=swap');
*, :before, :after {
  box-sizing: border-box;
}
:root {
  --dark: hsl(132, 44%, 40%);
  --light: hsl(152, 71%, 89%);
  --lighter: hsl(152, 71%, 95%);
  --white: hsl(0, 3%, 95%);
  --whiter: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --red: hsl(6, 97%, 73%);
  --dark-gray: hsl(0, 0%, 59%);
  --gray: hsl(0, 0%, 90%);
  --font:  "Rajdhani", sans-serif;
  --font-alt: "Roboto", sans-serif;
}
body {
    background: var(--whiter);
	font-family: var(--font);
	font-size: 16px;
	display: flex;
	height: 100%;
	line-height: 150%;
	justify-content: center;
}
.label {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 0.5px;
	display: block;
	margin-bottom: 8px;
}
.preloader {
  align-items: center;
  background: var(--white);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.2s linear;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transform: opacity 1s linear;
}
input {
    border: none;
	height: 48px;
	line-height: 48px;
	padding: 0 16px;
	border-radius: 0;
	background: var(--gray);
    font-family: var(--font);
    color: var(--black);
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	letter-spacing: 0.5px;
    border-radius: 5px;
}
input:focus{
	outline: none;
}
input .label {
	margin: 0 auto 8px;
}
section {
	width: 80%;
}
h1 {
	font-size: 1.75rem;
}
article {
	position: relative;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
}
.left-half {
    position: fixed;
    background: var(--whiter);
    z-index: 100;
    bottom: 0px;
    top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 17.5em;
    padding: 10px;
}
.header{
    position: fixed;
}
.right-half {
	padding: 10px;
	float: left;
	width: 100%;
}
a {
	color: var(--dark);
	box-shadow: var(--dark) 0px -2px -1px -1px inset;
	display: inline-block;
	margin-bottom: 10px;
	box-sizing: border-box;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
	padding: 0px 3px;
}
/*a tag hover. Messed around with the value. Works somehow*/
a:hover {
	box-shadow: var(--dark) 0px -4px 0px -1px inset;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
}
.achieve {
	background-color: var(--light);
	border-radius: 5px;
	padding: 10px;
}
.link {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
	color: var(--white);
	height: 48px;
	width: 100%;
	padding: 11px;
	background: var(--black);
    border-radius: 5px;
}
.link:hover,button:hover {
  box-shadow: none;
  transform: translateY(-0.2em);
}
.link:active,button:active {
  transform: translateY(0.2em);
}
button {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 10px;
	color: var(--white);
    transition: all 0.2s ease-in-out 0s;
	height: 48px;
	width: 45%;
	padding: 11px;
    cursor: pointer;
	border-width: 0px;
	border-radius: 5px;
	background: var(--black);
}
.keyword {
	background-color: var(--lighter);
	border-radius: 5px;
	padding: 10px;
}
.tags {
	color: var(--dark-gray);
	float: left;
}
.cover{
    width: 100%;
    height: 100px;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    background-position: center;
}
.name {
    font-weight: 900;
}
progress {
	border-radius: 10em;
	width: 100%;
	height: 10px;
}
progress::-webkit-progress-bar {
	background-color: var(--lighter);
	border-radius: 7px;
}
progress::-webkit-progress-value {
	background-color: var(--dark);
	border-radius: 7px;
}
progress::-moz-progress-bar {
	background-color: var(--light);
	width: 100%;
	border-radius: 7px;
}
.box{
    background: var(--lighter);
    height: 225px;
	width: 225px;
    border-radius: 5px;
    padding: 15px;
}
.name {
	box-shadow: none;
	color: var(--black);
	padding: 5px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	box-shadow: none;
}
.name:hover{
    box-shadow: none;
}
img {
	display: block;
	height: auto;
	max-height: 8em;
	max-width: 10em;
	min-height: 3em;
	min-width: 3em;
	width: auto;
	image-rendering: pixelated;
}
.logo:hover {
	cursor: pointer;
}
/*achievement stuff*/
.game_achievement {
    position: fixed;
	transition: 300ms;
	background: var(--black);
    bottom: 0px;
    right: 0px;
    z-index: 100;
    transform: translateY(100%);
	padding: 23px 40px 20px 40px;
}
.game_achievement.active{
    transform: translateY(0%);
}
.game_achievement h3 {
	text-transform: uppercase;
	font-size: 12px;
	color: var(--light);
}
.game_achievement__name {
    color: var(--white);
	font-size: 22px;
}
.game_achievement__description {
	font-size: 16px;
	color: var(--gray);
	line-height: 18px;
}
.achievement {
	background: var(--light);
	height: 65px;
	border-radius: 5px;
	padding: 5px;
	margin: 10px
}

.description {
	float: right;
}
.danger{
    margin-left: 10px;
	background: var(--red);
}

table {
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQYV2NkgIK3b9/+ZwSxQQxhYWFGRhgDJAgA4hULytmCFnsAAAAASUVORK5CYII=);
}

tr:first-child {
  background: none;
}

th {
  padding-right: 5px;
  text-align: right;
}

th:first-child {
  border-right: 1px solid #f1f1f1;
}

th:nth-child(3) {
  padding-right: 40px;
  border-right: 1px solid #f1f1f1;
}

td {
  font-style: italic;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px 5px 3px 40px;
  text-align: right;
}

td:first-child {
  border-color: #f1f1f1;
  border-right: 1px solid #ddd;
}

td:nth-child(3) {
  padding-right: 40px;
}

td:last-child {
  padding-right: 40px;
  border-color: #f1f1f1;
  border-left: 1px solid #ddd;
}
.glas{
    margin-top: 30px;
}
#quiz{
    padding: 5px;
    transition: 0.2s;
    border-radius: 5px;
}
.next{
    cursor: pointer;
    width: 100%;
}
.next:hover{
    box-shadow: none;
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 8px solid var(--dark);
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
.assist,.submit{
	transition: all 0.1s ease-in-out 0s;
    font-family: var(--font);
    margin-top: 10px;
    width: 50px;
}
.assist:hover,.submit:hover {
  transform: translateY(-0.2em);
}
.assist:active,.submit:active {
  transform: translateY(0.2em);
}
.submit{
    float: right;
    width: fit-content;
    margin-right: 0px;
}
.colour{
    opacity: 70%;
    width: 50px;
}
disabled{
    opacity: 20%;
}
.hangman {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
    padding: 2px;
  align-items: center;
  border-bottom: 1px solid var(--black);
}

.game-state {
  padding: 2vmin 2vmin;
  border-right: 1px solid black;
    
}

.game-state--active .game-state__text {
  color: var(--black);

}

.game-state--win .game-state__text {
  color: var(--dark);
}

.game-state--fail .game-state__text {
  color: var(--red);  
}


.new-game {
  padding: 2vmin 2vmin;
    border: none;
    color: var(--black);
  background-color: var(--grey);
  cursor: pointer;
  border: none;
}

.new-game:hover {
  background-color: var(--grey);
}

.new-game:focus {
  outline: 0;
}

.fails {
  flex-grow: 1;
  text-align: center;
  padding: 2vmin 2vmin;
  border-right: 1px solid black;
    color: white;
-webkit-text-stroke: 1px red;

}
.nav{
    float: right;
    position: fixed;
    z-index: 100;
    width: 50px;
    right: 1vw;
    margin-top: 25px;
}
.word {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  margin: 5vmin 0;
  height: 10vmin;
}

.char {
  padding-right: 0.5vmin;
}

.keyboard {
  display: flex;
  font-size: 5vmin;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  width: 7.69%;
  cursor: pointer;
  text-align: center;
    padding:10px;

}

.key:hover {
  background-color: lightgrey;
}

.key--fade-out {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.2);
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
