<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <title>Glas - Achievements</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
     <%- include('../partials/menu'); %>
        <article id="main">
            <div id="achievList">
            </div>
            <button class="danger" onclick="clearData()">Clear data</button>
        </article>
      <%- include('../partials/footer'); %>
      <script src="../js/main.js"></script>        
      <script src="../js/achieve.js"></script>
</body>

</html>