<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <title>Glas - Achievements</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/achieve.css">
</head>

<body>
            <div class="content">
            <%- include('../partials/menu'); %>
            <div class="achieveList">
                <div id="achievList">
                </div>
                <button class="danger" onclick="clearData()">Clear data</button>
            </div>
            </div>
      <script src="../js/main.js"></script>        
      <script src="../js/achieve.js"></script>
</body>

</html>