<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('../partials/menu'); %>
        <article>
          <div class="modal">
              <div class="scroll-to-top">
                  <input type="button" class="create" value="ðŸ”ï¸" id="top" alt="create-new">
              </div>
              <div id="content">
              </div>
          </div>
        </article>
      <%- include('../partials/footer'); %>
      <script src="js/home.js"></script>
      <script src="js/achieve.js"></script>
      <script src="js/main.js"></script>
</body>

</html>