<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/post.css">
    <title>Glas - Home</title>
</head>
<body>
<div class="content">
    <%- include('../partials/menu'); %>
    <div class="grids">
        <div class="main">
            <div id="post"></div>
        </div>
        <script type="text/javascript" src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
        <script src="../js/post.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/achieve.js"></script>
    </div>
</div>
</body>
</html>